
 #leftsection {
  justify-content: center;  
  flex-wrap: wrap;
}
 
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 6rem;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;  ;
}

.initialbuttons {
  width: 80%;
}

#startbutton, #easybutton, #hardbutton, #normalbutton {
  display: flex;
  justify-self: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 2px; 
}

.alternativebuttons:focus {
  box-shadow: none;
}

.canvascontainer {
  height: 450px;
  margin-bottom: 0px; 
  margin-top: 5px;
  
}

h3 {
 font-size: 2rem;
 text-align: center;

}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center; 
}

.sidebar {
  margin-top: 20px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.hearts, .score, .streak {
  justify-content: center;
  width: 100%;  
}
.hearts {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 100%;  
}
.activeheart {

    color: #FF0000;
 
  }

 .heart {
  font-size: 3rem;
  margin: 2px;

 }

#errorslist {
  text-align: center;
  margin-left: 25%;
  height: 470px;
  position: fixed;
  top: 0px;
  padding-top: 150px;
  background-color: white;
  justify-self: center;
  justify-content: center;
}

#errorslist ul {
  list-style-type: none;
}

 .buttonscontainer {
   margin-top: 10px;
 }


 #button1, #button2, #button3, #button4 {
  margin: 2px;
  width: 100%;
  font-size: 1.2rem;  
 }

#soundcontrols {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 320px) {
  .canvascontainer {
    max-width: 320px;
    height: 350px;
  }
}

@media (max-width: 700px) {

  #button1, #button2, #button3, #button4 {
    font-size: 0.8rem;  
    padding: 1px;}

  #heartscounter {
    display: block !important;
    position: fixed;
    top: 0px;
    right: 30px;
  }
  .heart {
    font-size: 0.8rem;
  }

  h2, h3 {
    font-size: 0.7rem;
    text-align: right;
  }

  .score {
    display: block !important;
    position: fixed;
    top: 35px;
    right: 30px;
  }

  .streak {
    display: block !important;
    position: fixed;
    top: 70px;
    right: 30px;
  }

#titlemobile {
  position: fixed;
  top: 5px;
  left: 20px;
  font-size: 1rem;
  font-weight: 700;
}
#startbuttonmobile {
  position: fixed;
  top: 35px;
  left: 20px;
  padding: 5px;
  font-size: 0.8rem;
}

#difficultymobile {
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 5px;
  font-size: 0.65rem;
  width: 75px;
}
.canvascontainer {
  max-width: 350px;
}

#errorslist {
  height: 240px;
  width: 300px;
  margin-left: 0px;
  padding-left: 50px;
  position: fixed;
  top: 120px;
  left: 0px;
  padding-top: 20px;
  background-color: white;
  text-align: left;
}


#errorslist h2, #errorslist h3 {
  text-align: center;
  font-size: 0.8rem;
}

#errorslist h4 {
  font-size: 0.9rem !important;
}

}
@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}